:root :has(> .base) {
  position: relative;

  background-image: url('../../shared/assets/img/course-materials-bg-img.png');
  background-size: cover;
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  position: relative;
  z-index: 2;

  font-size: 18px;
  color: white;

  height: calc(100vh - 60px - 170px);

  padding-block: 40px;

  &::before {
    content: '';
    display: block;

    width: 160px;
    height: 100px;

    background-image: url('../../shared/assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
