.aside {
	grid-row: 2 / 3;
	grid-column: 1 / 2;

	position: relative;

	max-height: 300px;
	margin-top: -10px;

	border: 3px solid #aa8444;
	background-color: rgba(22, 22, 21, 0.7);

	overflow-y: auto;

	&_item {
		font-size: 14px;
		font-weight: 600;
		text-align: center;

		input {
			width: 0;
			height: 0;
			visibility: hidden;

			position: absolute;

			&:checked {
				& ~ label {
					color: #161615;
					background-color: #fff5d8;
				}
			}
		}

		label {
			display: block;
			padding: 14px 8px;

			color: #aa8444;

			cursor: pointer;
			transition: 0.25s ease-out;

			&:hover {
				color: #fef6e0;
				background-color: #aa8444;
			}
		}
	}

	&_header {
		display: flex;
		align-items: center;

		position: relative;
		left: -20px;

		grid-row: 1 / 2;
		grid-column: 1 / 2;

		width: 150%;
		height: 100%;

		font-size: 16px;
		font-weight: 500;
		color: #fff5d8;

		background-image: url("../../../../shared/assets/img/course-flag-img.png");
		background-repeat: no-repeat;
		background-size: cover;

		&_breadcrumb {
			display: block;
			width: 30px;
			height: 30px;

			margin-inline: 20px;

			background-image: url("../../../../shared/assets/img/arrow-light-img.png");
			background-repeat: no-repeat;
			background-size: contain;

			transform: rotate(90deg);
			transition: 0.25s ease-out;
		}

		span {
			max-width: 350px;
		}
	}
}

.legs {
	position: absolute;
	top: 120px;

	display: flex;
	justify-content: space-between;
	padding-inline: 4px;

	width: 100%;
	height: 20px;
}

.leg_left,
.leg_right {
	display: block;

	width: 2.5px;
	height: 24px;

	background-color: #aa8444;
}

.progress {
	grid-row: 1 / 2;
	grid-column: 2 / 3;

	align-self: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 16px;

	max-width: 50%;

	margin-inline: auto;

	&_item {
		display: block;
		width: 45px;
		height: 45px;

		border: none;
		background: transparent;
		background-image: url("../../../../shared/assets/img/course_task.png");
		background-size: contain;

		cursor: pointer;
		transition: 0.25s ease-out;

		&:hover {
			background-image: url("../../../../shared/assets/img/course_task_hover.png");
		}

		&__passed {
			background-image: url("../../../../shared/assets/img/course_task_passed.png");
		}

		&__disabled {
			background-image: url("../../../../shared/assets/img/course_task_disabled.png");
		}

		&__selected {
			background-image: url("../../../../shared/assets/img/course_task_active.png");
		}
	}
}

.material {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	row-gap: 16px;

	padding: 20px;

	grid-row: 2 / 3;
	grid-column: 2 / 3;

	border: 1px solid transparent;
	border-image: url("../../../../shared/assets/img/border-img.png") 100 / 80px round;
	outline: 10px solid rgba(254, 246, 224, 1);

	background: rgba(254, 246, 224, 1);

	&_type {
		font-weight: 600;
		color: #aa8444;

		margin-bottom: 4px;
	}

	&_title {
		width: 66%;

		font-size: 16px;
		font-weight: 600;
		color: black;
		text-align: center;
	}

	&_video {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		margin-bottom: 20px;

		iframe {
			width: 700px;
			height: 400px;

			border: none;
			outline: none;
		}
	}

	&_question {
		display: flex;
		flex-direction: column;

		width: 80%;

		&__open {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			column-gap: 10px;
			
			&_field {
				flex-direction: column-reverse;
			}
		}

		&_tries {
			color: #545454;
			font-size: 13px;

			margin-top: 8px;
		}

		label {
			font-weight: 500;
			font-size: 13px;
			color: black;

			margin-bottom: -5px;
		}

		button {
			mask-image: none;
			background-color: #c2a167;

			font-weight: 500;
			color: black;

			&:hover {
				background-color: #aa8444;
			}

			&:disabled {
				background-color: #dac29a;
				color: rgb(98, 98, 98);
			}
		}

		input {
			height: 46px;
			box-shadow: none;
			border: 2px solid #c2a167;

			&:focus {
				box-shadow: none;
			}

			&:disabled {
				border: white;
			}
		}

		&__group {
			display: flex;
			flex-direction: column;

			row-gap: 10px;
		}

		&__single {
			display: flex;
			flex-direction: row;
			align-items: center;

			column-gap: 10px;

			border: 2px solid #c2a167;
			height: 46px;

			cursor: pointer;

			padding-inline: 10px 20px;

			input {
				width: 18px;
			}

			label {
				display: flex;
				width: 100%;
				height: 20px;
				color: #231c23;
			}

			input:disable {
				filter: grayscale(100%);
			}
		}
	}

	&_video::before,
	&_question::before {
		content: "";
		display: block;

		width: 100%;
		height: 1.5px;

		margin-block: 6px 24px;
		background-color: #aa8444;
	}
}

.content {
	padding-inline: 20px;
	border: 4px solid #e7dbc2;
	border-top: none;
	border-bottom: none;

	display: flex;
	align-items: center;

	input {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	label {
		padding-block: 8px;

		cursor: pointer;
		display: block;
		width: 100%;
	}
}

.variants {
	border-top: none;
	border-bottom: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	position: relative;

	&_item {
		width: 100%;
	}

	input {
		width: 0;
		height: 0;
		visibility: hidden;
		position: absolute;
		&:checked ~ label {
			background-color: #ba975c;
			color: rgb(254, 246, 224);
		}
	}

	label {
		cursor: pointer;
		display: block;
		width: 100%;

		width: 100%;
		border: 2px solid #ba975c;
		border-radius: 4px;

		display: flex;
		align-items: center;

		color: #ba975c;

		padding: 10px;

		&:hover {
			background-color: #ba975c;
			color: rgb(254, 246, 224);
		}
	}
}

.question {
	display: flex;
	align-items: flex-end;

	width: 100%;

	&_input_v1 {
		color: #231c23;

		input {
			height: 40px;

			border: 2px solid #c2a167;
			outline: none;

			box-shadow: none;
		}

		input:focus {
			box-shadow: none;
		}

		label {
			color: #231c23;
		}
	}

	&_submit_btn {
		height: 40px;

		font-weight: 600;
		color: #231c23;
		background-color: #c2a167;

		mask-image: none;
	}

	&_submit_btn:hover {
		background-color: #c2a167;
	}
}
