.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	color: white;

	h3 {
		font-weight: 500;
	}
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
}
