.base {
	position: relative;
}

.message {
	display: block;
	position: absolute;

	width: 140px;
	height: auto;

	bottom: -50px;
	left: -40px;

	padding: 12px;
	font-size: 14px;
	text-align: center;

	color: rgba(167, 158, 205, 255);

	border: 2px solid rgba(167, 158, 205, 255);

	border-radius: 6px 0 6px 0;
	right: 40px;
	z-index: 1;
}
