.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 220px;
	padding: 12px 30px;
	position: relative;
	overflow: hidden;

	background-color: #ce5231;

	color: white;
	font-size: 14px;

	transition: 0.2s ease-out;
	cursor: pointer;

	border: none;

	mask-image: url("../../assets/img/button.png");
	mask-size: 220px;
	height: 46px;

	&:hover {
		background-color: rgb(168, 156, 204);
	}
}
