.container,
.centered,
.wrapper {
  display: flex;
  justify-content: space-between;
}

.container,
.centered {
  width: 100%;
}

.centered {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
