.base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: scroll;
  padding: 23px 3px 20px 3.5px;

  height: 100%;

  border: 14px solid transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-image: url('../../../assets/img/border_ver.png') 100 / 30px round;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 100px;
  }
}

.item {
  display: flex;
  flex-direction: column;

  width: 100%;

  button {
    width: 100%;
    mask-image: none;
  }
}

.toggle {
  align-items: center;
  justify-content: space-between;

  position: relative;

  background-color: #fef6e0;
  color: #ba975c;

  transition: all 0.25s ease-out;

  &::after {
    content: '';

    width: 30px;
    height: 30px;

    margin-top: -3px;

    transition: 0.14s ease-out;

    background-color: transparent;
    background-image: url('../../../assets/img/arrow_d.png');
    background-size: contain;
    background-repeat: no-repeat;

    transform: rotate(90deg);
  }

  &_active {
    color: rgb(254, 246, 224);
    background-color: #ba975c;

    &::after {
      background-image: url('../../../assets/img/arrow-light-img.png');
      transform: rotate(0);
    }
  }

  &:hover {
    color: rgb(254, 246, 224);
    background-color: #ba975c;
    box-shadow: none;

    &::after {
      background-image: url('../../../assets/img/arrow-light-img.png');
    }
  }
}

.content {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  > div {
    margin-left: 30px;
    padding-block: 14px;
  }
}
