.base {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-gap: 24px;

  border: 1px solid transparent;
  border-image: url('../../../../shared/assets/img/border.png') 100 / 26px round;
  position: relative;
  padding: 30px 40px;
  z-index: 5;

  button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media screen and (max-width: 768px) {
      justify-self: center;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 30px;
  }
}

.description {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  font-size: 14px;
  max-width: 320px;

  span {
    margin-top: -10px;

    color: rgb(98, 98, 98);

    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    align-items: center;
  }
}

.progress {
  grid-column: 2 / 3;
  grid-row: 1 /3;
  align-items: flex-start;

  & > div:not(:last-child) {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 2 /3;
  }
}
