.base {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  min-width: 300px;

  font-size: 14px;

  input {
    padding: 16px 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(0, 0, 0, 1) inset;
    color: rgb(111, 111, 111);

    transition: 0.25s ease-out;

    &:focus {
      box-shadow: 0 0 2px rgba(0, 0, 0, 1) inset;
    }
  }

  label {
    color: white;
    cursor: pointer;
  }
}
