.base {
  display: flex;
  align-self: flex-end;
  position: relative;
  zoom: 1.1;
  color: white;
  transition: 0.25s ease-out;

  &::after {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    z-index: 1;
    width: 200vw;
    height: 200vh;
    background-image: url("../../../../shared/assets/img/course-materials-bg-img.png");
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.5;
  }
}

.tile {
  width: 112px;
  height: 600px;

  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  z-index: 4;

  &_start {
    width: 159.5px;
    background-image: url("../../../../shared/assets/img/field_start.svg");
    background-position: 0 30px;
  }

  &_00 {
    background-image: url("../../../../shared/assets/img/field_1.svg");
    background-position: 0 22px;
  }

  &_01 {
    background-image: url("../../../../shared/assets/img/field_2.svg");
    background-position: 0 22px;
  }

  &_02 {
    background-image: url("../../../../shared/assets/img/field_3.svg");
    background-position: 0 37.5px;
  }

  &_03 {
    background-image: url("../../../../shared/assets/img/field_4.svg");
    background-position: 0 10px;
    background-size: 112px;
  }

  &_04 {
    background-image: url("../../../../shared/assets/img/field_5.svg");
    background-position: 0 12px;
  }

  &_05 {
    background-image: url("../../../../shared/assets/img/field_6.svg");
    background-position: 0 22px;
  }

  &_06 {
    background-image: url("../../../../shared/assets/img/field_7.svg");
    background-position: 0 42px;
  }

  &_07 {
    background-image: url("../../../../shared/assets/img/field_8.svg");
    background-position: 0 30px;
  }

  &_10 {
    background-image: url("../../../../shared/assets/img/field_11.svg");
    background-position: 0 22px;
  }

  &_11 {
    background-image: url("../../../../shared/assets/img/field_2.svg");
    background-position: 0 22px;
  }

  &_12 {
    background-image: url("../../../../shared/assets/img/field_3.svg");
    background-position: 0 37.5px;
  }

  &_13 {
    background-image: url("../../../../shared/assets/img/field_4.svg");
    background-position: 0 10px;
    background-size: 112px;
  }

  &_14 {
    background-image: url("../../../../shared/assets/img/field_5.svg");
    background-position: 0 12px;
  }

  &_15 {
    background-image: url("../../../../shared/assets/img/field_6.svg");
    background-position: 0 22px;
  }

  &_16 {
    background-image: url("../../../../shared/assets/img/field_7.svg");
    background-position: 0 42px;
  }

  &_17 {
    background-image: url("../../../../shared/assets/img/field_18.svg");
    background-position: 0 30px;
  }

  &_end {
    width: 121px;
    background-image: url("../../../../shared/assets/img/field_end.svg");
    background-position: 0 39px;
  }
}

.checkpoint {
  display: block;
  width: 55px;
  height: 65px;

  font-size: 10px;
  font-weight: 600;

  background-image: url("../../../../shared/assets/img/badge_uncovered.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  mask-image: none;
  background-color: transparent;

  position: relative;

  transition: 0.2s eas-out;
  overflow: visible;

  &:hover {
    transform: scale(1.05);
    -webkit-filter: drop-shadow(0 0 4px rgba(1, 1, 1, 0.2));
    filter: drop-shadow(0 0 4px rgba(1, 1, 1, 0.2));
    background-color: transparent;
  }

  &__progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -80%);
    &::after {
      content: "%";
      margin-left: 1px;
    }
  }

  &__in_progress {
    background-image: url("../../../../shared/assets/icons/icon_checkpoint_in_progress.svg");
  }

  &__active {
    scale: 1.3;
    background-image: url("../../../../shared/assets/icons/icon_checkpoint_current.svg");

    &::before {
      content: "";
      position: relative;
      top: -40px;
      left: 50%;
      transform: translatex(-50%);
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../../../shared/assets/icons/icon_helmet.svg");
      background-size: contain;
    }
  }

  &__disabled {
    background-image: url("../../../../shared/assets/icons/icon_checkpoint_disabled.svg");
  }

  &_00 {
    top: 39.5%;
    left: 35%;
  }

  &_01 {
    top: 22%;
    left: 17%;
  }

  &_02 {
    top: 29%;
    left: 36%;
  }

  &_03 {
    top: 62.5%;
    left: 2%;
  }

  &_04 {
    top: 29%;
    left: 5%;
  }

  &_05 {
    top: 49.5%;
    left: 6%;
  }

  &_06 {
    top: 16%;
    left: 52%;
  }

  &_07 {
    top: 40%;
    left: 32%;
  }

  &_10 {
    top: 40%;
    left: 31%;
  }

  &_11 {
    top: 22%;
    left: 17%;
  }

  &_12 {
    top: 28%;
    left: 37%;
  }

  &_13 {
    top: 62%;
    left: 3%;
  }

  &_14 {
    top: 26%;
    left: 5%;
  }

  &_15 {
    top: 49.5%;
    left: 10%;
  }

  &_16 {
    top: 14.2%;
    left: 50%;
  }

  &_17 {
    top: 36%;
    left: 32%;
  }
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  width: 280px;

  position: absolute;
  top: 18%;
  right: 55px;

  background-color: rgb(254, 246, 224);
  color: #ba975c;
  font-size: 14px;

  border-right: 8px solid #ba975c;
  box-shadow: 0 0 4px rgba(1, 1, 1, 0.6);
  border-radius: 2px;

  padding: 16px;

  &_title {
    font-weight: 500;
    text-align: center;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -13px;
    width: 6px;
    height: 35px;
    background-color: transparent;
  }
}

.course_title {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 12px 60px 12px 20px;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 100;
  color: rgb(254, 246, 224);


  width: 449px;
  height: 90px;
  background-image: url("../../../../shared/assets/icons/icon_flag_dark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  
  h1 {
	margin-top: 10px;
    font-size: 20px;
  }

  &__score {
    display: flex;
    &::before {
      content: "Общий счет:";
      display: block;
      margin-right: 6px;
    }
  }
}
