.base {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  height: 500px;
  width: 348px;
  padding: 94px 64px 40px 30px;

  position: relative;
  z-index: 6;

  background-image: url('../../../../shared/assets/img/border_aside.png');
  background-size: contain;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 6px;

  position: absolute;
  top: 32px;
  left: 0;

  height: 85px;

  padding-left: 124px;
  padding-right: 140px;

  z-index: 5;

  border: 1px solid transparent;
  border-image: url('../../../../shared/assets/img/flag.png') 100 / 30px round;
  border-image-width: 50px;

  color: white;

  font-size: 14px;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  span {
    display: flex;

    &::before {
      content: 'Общий счет :';
      margin-right: 5px;
      display: block;
    }
  }

  &::before {
    content: '';
    width: 50px;
    height: 64px;

    position: absolute;
    left: 60px;

    background-image: url('../../../../shared/assets/img/shield_light.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.links {
  width: 254px;
}

.link {
  font-size: 14px;
  text-align: center;
  padding: 8px;

  transition: 0.25s ease-out;

  background-color: rgb(254, 246, 224);
  color: #ba975c;

  &:hover {
    background-color: #ba975c;
    color: rgb(254, 246, 224);
  }
}

.chapter {
  &_item {
    display: flex;
    flex-direction: column;

    padding: 4px 0;

    font-size: 14px;
    color: #ba975c;

    transition: 0.25s ease-out;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.reward {
  display: block;
  width: 50px;
  height: 64px;

  background-image: url('../../../../shared/assets/img/shield_dark.png');
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}
