:root :has(> .base) {
  position: relative;

  background-image: url('../../shared/assets/img/course-materials-bg-img.png');
  background-size: cover;
}

.base {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  grid-gap: 30px;

  position: relative;
  z-index: 2;

  padding-block: 40px;
}

.page_header ~ main {
  min-height: 90vh;
}
