.course {
  width: 100%;
  padding-block: 40px;
  position: relative;

  border: 1px solid transparent;

  background-color: rgb(254, 246, 224);

  scroll-behavior: smooth;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;

    width: 100%;
    height: 20px;

    background-size: 700px;
    background-repeat: repeat;
  }

  &::before {
    top: -20px;
    background-image: url('../../shared/assets/img/border_1.png');
  }

  &::after {
    bottom: -20px;
    background-image: url('../../shared/assets/img/border_1.png');
    transform: rotate(180deg);
  }
}


.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-inline: 20px;
  height: 100vh;

  &_inner {
    position: absolute;
    top: 0;
    height: calc(100vh + 2px);
    max-width: 680px;
    padding-inline: 50px;
    background-color: rgba(255, 245, 216, 0.15);

    color: #FFF5D8;
  }

  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
    top: 40%;

    h1 {
      font-size: 40px;
    }

    span {
      line-height: 160%;
      font-size: 14px;
    }
  }
}