@import url('./config/styles/_base.scss');
// @import url('./config/styles/_variables');
@import url('./config/styles/_typography.scss');
@import url('./config/styles/_fonts.scss');

.banner-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(24, 24, 24);
}

.dragon-knight-image {
  scale: 0.85;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-60%, 1%);
}

.bg-flames-image {
  scale: 0.8;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-60%, 5%);
}

@media only screen and (max-width: 1000px) {
  .dragon-knight-image {
    scale: 0.7;
    transform: translate(-72%, 12%);
  }

  .bg-flames-image {
    scale: 0.7;
    left: 50%;
    transform: translate(-80%, 12%);
  }
}

@media only screen and (max-width: 760px) {
  .dragon-knight-image {
    scale: 0.6;
    transform: translate(-86%, 22%);
  }

  .bg-flames-image {
    scale: 0.6;
    left: 50%;
    transform: translate(-90%, 20%);
  }
}
