.wrapper {
  position: relative;
  width: 100%;
}

.element {
  position: absolute;
  display: block;
  z-index: 3;
  transition: 0.1s ease-out;
  transform: translateX(calc((100vw - var(--x) * 4px) / 90))
    translateY(calc((100vw - var(--y) * 4px) / 90));
}
