*,
::after,
::before {
  box-sizing: border-box;
  user-select: none;
}

h1,
h2,
h3,
h4,
p,
li,
ol,
ul {
  padding: 0;
  margin: 0;
}

li,
ol,
ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: rgba(31, 27, 32, 255);

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(195, 195, 195);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(31, 27, 32, 255);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}

h3 {
  font-size: 24px;
}

.stretched-container {
  padding-inline: 20px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff5d8;
}

::-webkit-scrollbar-thumb {
  background-color: #aa8444;
}
