@font-face {
  font-family: 'Montserrat';
  src: url('../../../shared/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../shared/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
