.header_styled {
  section {
    max-width: 100%;
  }
}

.main_styled {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  scale: 1;
}
