.wrapper {
	padding: 50px 0 30px 0;
	color: white;

	align-items: center;
	justify-content: space-between;
}

.logo {
	display: block;
	background-size: contain;
	background-repeat: no-repeat;

	cursor: pointer;

	&_cm {
		width: 200px;
		height: 90px;
		background-image: url('../../assets/img/logo.png');
	}

	&_itmo {
		width: 200px;
		height: 90px;
		background-image: url('../../assets/img/logo_itmo.png');
	}
}

.navigation {
	display: flex;
	align-items: center;
	font-size: 16px;

	a {
		display: inline-block;
		font-weight: 300;
		color: white;
		position: relative;

		&::after {
			content: '';
			display: block;
			margin-top: 0.25em;
			width: 0;
			height: 1.5px;
			background: white;
			transition: width 0.25s;
		}

		&:hover::after {
			width: 100%;
		}
	}
}

.divider {
	display: block;
	width: 27px;
	height: 27px;
	background-image: url('../../assets/img/decoration_1.png');
	background-repeat: no-repeat;
	background-size: contain;
}
