.base {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;

	background-color: #161615;
	border-bottom: 2px solid #aa8444;
}

.layout {
	display: flex;
	justify-content: flex-start;
	position: relative;
}

.nav {
	display: flex;
	align-items: center;
	column-gap: 10px;

	&_item {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 15px;

		padding: 10px;

		background-color: #42423c;
		border-inline: 2px solid #aa8444;

		color: #42423c;
		font-size: 14px;
		font-weight: 300;

		transition: width 0.22s ease-out;

		a {
			color: inherit;
		}

		svg {
			width: 30px;

			path {
				fill: #42423c;
			}
		}

		&__active {
			padding: 10px 40px 10px 20px;

			background-color: rgba(254, 246, 224, 1);
		}

		&:not(.nav_item__active) {
			span {
				display: none;
			}

			svg {
				path {
					fill: rgba(254, 246, 224, 1);
				}
			}
		}

		&:hover {
			background-color: rgba(254, 246, 224, 1);
			color: #42423c;

			svg {
				path {
					fill: #42423c;
				}
			}
		}

		&:not(.nav_item__active):hover {
			span {
				display: block;
			}
		}
	}
}
