.base {
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}

.background {
  display: block;
  width: 100%;
  height: 100%;

  right: 0;

  position: absolute;

  background-image: url('../../../../shared/assets/img/flame_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  transition: 0.75s ease-out;
  transform: translateY(calc((100vw - var(--y) * 2px) / 90));

  &::before,
  &::after {
    content: '';
    width: 90%;
    height: 90%;

    position: absolute;

    transition: 1.25s ease-out;
    filter: drop-shadow(5px 5px 0 rgba(1, 1, 1, 0.2));

    transform: translateX(calc((100vw - var(--x) * 2px) / 90))
      translateY(calc((var(--y) * 2px - 100vw) / 90));
  }

  &::before {
    background-image: url('../../../../shared/assets/img/dragon_bg.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 52% 100%;

    bottom: -25px;

    transition: 1.25s ease-out;
    transform: translateX(calc((100vw - var(--x) * 2px) / 90))
      translateY(calc((var(--y) * 2px - 100vw) / 90));
  }

  &::after {
    background-image: url('../../../../shared/assets/img/knight_bg.png');
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: 90% 100%;

    bottom: -10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 100px;

  margin-bottom: 40px;
  color: white;

  button {
    align-self: center;
    width: 220px;
  }
}

.emblem {
  display: block;
  width: 365px;
  position: relative;

  &_shield {
    display: block;
    font-size: 40px;
    color: white;

    width: 220px;
    height: 260px;

    background-image: url('../../../../shared/assets/img/shield.png');
    background-size: contain;
    background-repeat: no-repeat;

    mask-image: url('../../../../shared/assets/img/shield.png');
    mask-repeat: no-repeat;
    mask-size: contain;

    overflow: hidden;
    position: relative;
    z-index: 2;
    left: 75px;
  }

  &_title {
    display: flex;
    align-items: center;

    width: 360px;
    height: 60px;

    position: absolute;
    top: 90px;
    z-index: 3;

    padding-inline: 60px;
    font-weight: 500;
    font-size: 16px;

    background-image: url('../../../../shared/assets/img/pennant_w.png');
    background-size: contain;
    background-repeat: no-repeat;

    mask-image: url('../../../../shared/assets/img/pennant_w.png');
    mask-repeat: no-repeat;
    mask-size: contain;

    color: black;

    &::before {
      content: '';
      display: block;
      margin-left: 20px;
    }
  }

  &_pennant__front {
    font-size: 11px;
    color: white;

    width: 280px;
    height: 120px;

    position: absolute;
    left: 40px;
    bottom: -15px;
    z-index: 3;

    padding-inline: 0;
    font-weight: 500;

    background-image: url('../../../../shared/assets/img/pennant_d_f.png');
    background-size: contain;
    background-repeat: no-repeat;

    mask-image: url('../../../../shared/assets/img/pennant_d_f.png');
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  &_pennant__back {
    font-size: 11px;
    color: white;
    counter-reset: section;

    width: 215px;
    height: 164px;

    position: absolute;
    left: 50px;
    bottom: -45px;
    z-index: 1;
    padding-inline: 0;
    font-weight: 500;

    background-image: url('../../../../shared/assets/img/pennant_d_b.png');
    background-size: contain;
    background-repeat: no-repeat;

    mask-image: url('../../../../shared/assets/img/pennant_d_b.png');
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}
