.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 12px;

	position: relative;
}

.base {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 120px;
	height: 160px;

	position: relative;

	font-size: 2.4em;
	color: rgb(254, 246, 224);
	font-weight: 500;

	cursor: pointer;

	overflow: visible;

	background-size: contain;
	background-repeat: no-repeat;

	mask-repeat: no-repeat;
	mask-size: contain;
}

.allowed {
	background-image: url('../../../shared/assets/img/badge_allowed.png');
	mask-image: url('../../../shared/assets/img/badge_allowed.png');

	span {
		margin-top: -10px;
		max-width: 70%;
		overflow: hidden;
		text-align: center;

		&::after {
			content: '%';
		}
	}
}

.forbidden {
	background-image: url('../../../shared/assets/img/badge_forbidden.png');
	mask-image: url('../../../shared/assets/img/badge_forbidden.png');

	&::after {
		content: '';
		width: 50px;
		height: 50px;

		margin-top: 5px;

		background-image: url('../../../shared/assets/img/forbidden.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.title {
	font-weight: 500;
}

.notification {
	font-size: 14px;
	text-align: center;
	color: rgb(98, 98, 98);
}

.effect {
	&::before {
		background: #fff;
		content: '';
		height: 400px;
		left: -140px;
		opacity: 0.3;
		position: absolute;
		top: -100px;
		width: 40px;

		-webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
		transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&:hover {
		&::before {
			left: 120%;
			-webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
			transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}
