.form {
  position: relative;
  padding-top: 100px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 115px;
    height: 70px;

    left: 50%;
    top: 0px;

    background-image: url('../../shared/assets/img/logo.png');
    background-size: cover;
    transform: translate(-50%, 0);

    cursor: pointer;
  }
}

.base {
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 20px;

  color: white;

  a {
    align-self: center;
    font-size: 14px;

    text-decoration: underline;
  }

  span {
    font-size: 12px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}
