.base {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 100;

    span {
        display: block;
        max-width: 320px;
        padding: 16px 20px;
        color: #FFF5D8;
        border: 2px solid #AA8444;
        background-color: #161615;
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        text-align: center;
    }
}

.button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #FFF5D8;
    mask-size: contain;
    mask-repeat: no-repeat;

    &:hover {
        background-color: #FFF5D8;
    }

    &__left {
        mask-image: url('../../../shared/assets/icons/icon_arrow.svg');
    }

    &__right {
        mask-image: url('../../../shared/assets/icons/icon_arrow.svg');
        transform: rotate(180deg);
    }
}